.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}
.n-name {
  font-size: 1.6rem;
  font-weight: bold;
}

.n-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.n-list {
  flex: 10;
}

.n-list > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-top: 3rem;
  list-style: none;
  cursor: pointer;
}
.n-list > ul > *:hover {
  cursor: pointer;
  color: var(--orange);
  transform: scale(1.1);
}
.n-button {
  flex: 2;
}
.nav-btn {
  padding: 12px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  position: static;
  top: 0;
  right: 0;
}
@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
  .nav-btn {
    visibility: visible;
    opacity: 1;
    margin-left: 13rem;
    margin-top: -1.6rem;
    padding: 2px;
    z-index: 1;
  }
  .n-left {
    position: fixed;
    top: 8px;
    left: 12px;
    right: 14px;
    width: 100%;
    margin-top: -0.6rem;
    padding: 7px 23px;
    margin-left: -0.7rem;
    background-color: rgb(212, 212, 212);
  }
  .nav-close {
    visibility: visible;
    opacity: 1;
  }
  .n-right nav {
    position: fixed;
    top: 0;
    left: 12px;
    right: 14px;
    height: 14rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2.36rem;
    padding: 5px 20px;
    margin-left: -0.7rem;
    gap: 0.6rem;
    background: transparent;
    transition: 1s;
    background-color: rgb(212, 212, 212);

    transform: translateY(-100vh);
  }
  nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 13rem;
  }
  .n-right .responsive_nav {
    transform: none;
  }
}
